
/* #00FF8B */
/* #000000 */

:root{
    --color-primary:#00FF8B;
    --color-secundary:#000000;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* ============= HEADER ===================== */
.logo{
    margin-left: 15px;
}
.logo img{
    width: 150px;
}
.navbar{
    width: 500px;
    margin-right: 30px;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li{
    color: white;
    list-style-type: none;
}

#navbar_acceso a{
    color: var(--color-primary);
    text-decoration: none;
}



.navbar ul li a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    align-items: center;

    justify-content: space-between;
    background-color: black;
}

#navbar_acceso{
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    height: 30px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}









/* ============= MAIN ===================== */


/* ============= FOOTER ===================== */



