
/* #00FF8B */
/* #000000 */

:root{
    --color-primary:#00FF8B;
    --color-secundary:#000000;
    --color-base:#1D1D2B;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* ============= HEADER ===================== */
.logo{
    margin-left: 15px;
}
.logo img{
    width: 150px;
}
.navbar{
    width: 500px;
    margin-right: 30px;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li{
    color: white;
    list-style-type: none;
}

#navbar_acceso a{
    color: var(--color-primary);
    text-decoration: none;
}



.navbar ul li a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    align-items: center;

    justify-content: space-between;
    background-color: black;
}

#navbar_acceso{
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    height: 30px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}









/* ============= MAIN ===================== */

.body-login{
    background-color: var(--color-base);

}


.card_login{
    background-color: transparent;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 900px
}

.image_dashboard{
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin-left: -100px;
}
/* ============= FOOTER ===================== */



/* =============PARTICLES================ */


#particles-js{
    width: 100%;
    height: 100%;
    /*background-color: rgba(0,0,0,0.5);*/
    /*background-image: url('');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
}

.view {
position: relative;
top: 0;
left: 0;
right: 0;
bottom: 0;
-webkit-perspective: 400;
        perspective: 400;
}

.plane {
width: 120px;
height: 120px;
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}
.plane.main {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
-webkit-transform: rotateX(60deg) rotateZ(-30deg);
        transform: rotateX(60deg) rotateZ(-30deg);
-webkit-animation: rotate 20s infinite linear;
        animation: rotate 20s infinite linear;
}
.plane.main .circle {
width: 120px;
height: 120px;
position: absolute;
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
border-radius: 100%;
box-sizing: border-box;
box-shadow: 0 0 60px #000, inset 0 0 60px crimson;
}
.plane.main .circle::before, .plane.main .circle::after {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 10%;
height: 10%;
border-radius: 100%;
background: crimson;
box-sizing: border-box;
box-shadow: 0 0 60px 2px crimson;
}
.plane.main .circle::before {
-webkit-transform: translateZ(-90px);
        transform: translateZ(-90px);
}
.plane.main .circle::after {
-webkit-transform: translateZ(90px);
        transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
-webkit-transform: rotateZ(72deg) rotateX(63.435deg);
        transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
-webkit-transform: rotateZ(144deg) rotateX(63.435deg);
        transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
-webkit-transform: rotateZ(216deg) rotateX(63.435deg);
        transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
-webkit-transform: rotateZ(288deg) rotateX(63.435deg);
        transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
-webkit-transform: rotateZ(360deg) rotateX(63.435deg);
        transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
}
100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}
}

@keyframes rotate {
0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
}
100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}
}