*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}


body{
    background-color: #1f1850;
}

/* #191919 */
/* #4b4b4d */
/* #636262 */


/* ===============HEADER================ */


header{
    width: 100%;
}

.header{
    padding: 20px;
    margin: 0 auto;
    width: 1000px;
}

.profile a{
    text-decoration: none;
}
.profile{
    height: 20px;
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.icon-logout-1{
    color: #E3025E;
}

.profile_a{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.profile_a p{
    color: white;
    margin-left: 5px;
}

.icon-profile-1{
    color:white
}

.logo{
    display: flex;
}

.first_header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logo a p{
    font-size: 20px;
    color: white;
    margin-left: 5px;
}

.logo a img{
    width: 35px;
}
.accesos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    height: 40px;
}




.accesos a{
    text-decoration: none;
}
.signin{
    color: white;
    background-color: #E3025E;
    border-radius: 5px;
    padding: 5px;
    height: 25px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.signin i{
    margin-right: 5px;
}


.register{
    color: white;
    border:1px solid white;
    border-radius: 5px;
    padding: 3px;
    height: 25px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
}

nav{
    width: 100%;
}

.new{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.new a{
    text-decoration: none;
    
}
.search1{
    width: 400px;
    height: 38px;
    border-radius: 10px;
    padding: 10px;
    color:rgb(230, 230, 230);
    border:1px solid #E3025E;
    background-color: #2C245D;
}
.newGroup{
    color: white;
    background-color: #E3025E;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.newGroup i{
    margin-right: 5px;
}

.newGroup p{
    margin-bottom: 3px;
}


.buyMe{
    color: black;
    background-color: #ffdd02;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    
}


.buyMe i{
    margin-right: 5px;
}

.buyMe p{
    margin-bottom: 3px;
    font-family: 'Dancing Script', cursive;
}




/* ===============MAIN================ */

main{
    padding: 20px;
    margin: 0 auto;
    width: 1000px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardGroup{
    background-color: #2C245D;
    border-radius: 10px;
    width: 450px;
    height: 100px;
    padding: 15px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardPeopleImgs{
    display: flex;
    flex-wrap: wrap;
}

.cardPeople{
    width: 80px;
    height: 80px;
    background-position: center; 
    /* background-repeat: no-repeat;  */
    background-size: cover; /* Encaja la imagen en el tamaño de la caja*/
    border-radius: 50%;
    margin-right: 10px;
}

.cardContent_title{
    color: #E3025E;
    font-size: 20px;
    font-weight: bold;
}

.cardContentTech{
    color:white;
    font-weight: 500;
}

.cardContentTech em{
    color:rgb(230, 230, 230);
    
}

.fogata{
    width: 25px;
}

.cardContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.cardContent_first{
    display: flex;
    align-items: center;
}

.cardContent_1{
    margin-left: 8px;
}

.optionsRoom{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.optionsRoom a i{
    color: #E3025E;
}

.btn_group{
    text-decoration: none;
    border: 1px dotted #f399be;
    border-radius: 10px;
    padding: 5px;
    color: #E3025E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_group i{
    margin-right: 7px;
}


.btn_group:hover{
    border: 1px dotted #E3025E;

}

.card_login{
    background-color: #E3025E;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 450px
}

.card_register{
    height: 400px;
}

.topic_details{
    font-size: 15px;
    width:310px;
}

.topic_details a{
    color: #1f1850;
}

.card_room{
    height: 300px;
    width: 400px;
    left: 400px;
    justify-content: space-between;
}

.option_input{
    width: 150px;
    height: 35px;
}

.options_room{
    width: 310px;
    display: flex;
    justify-content: space-between;
}

.card_login_title{
    font-size: 28px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.card_login label{
    color: white;
}

.form-control{
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 3px;
}

.btn-primary{
    margin-top: 5px;
    border-radius: 5px;
    background-color: #2C245D;
    width: 310px;
    height: 35px;
    color: white;
    border: 1px solid #2C245D;
    cursor: pointer;
    font-size: 18px;
}

.wrp_main{
    display: flex;
    justify-content: space-between;
}

.wrp_left{
    width: 650px;
    height: 450px;
    border: 1px solid #E3025E;
    background-color: #2C245D;
}

.wrp_left_title{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E3025E;
    background-color: #E3025E;
}
.wrp_left_1{
    display: flex;
    align-items: center;
}


.wrp_left_title p{
    margin-left: 8px;
    color: white;
    font-size: 24px;
}
.icon_arrow_left{
    color: white;
}

.wrp_chat{
    height: 450px;
}

.input_message{
    margin-top: 365px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
}

.input_text_chat{
    width: 620px;
    height: 30px;
    border-top: 1px solid #E3025E;
    outline: none;
}

.icon_message_btn{
    cursor: pointer;
    outline: none;
    height: 34px;
    width: 25px;
    background-color: #E3025E;
}

.icon_message_btn i{
    color: white;
}


.wrp_right{
    width: 300px;
    height: 450px;
    border: 1px solid #E3025E;
    background-color: #2C245D;
}

.wrp_right_title{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E3025E;
    background-color: #E3025E;
    color: white;
    height: 30px;
    font-size: 22px;
}

.participans_joined{
    margin-left: 5px;
    color:#2C245D;
    font-size: 18px;
}

.wrp_online_people{
    padding: 10px 20px;
}

.wrp_person{
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 3px;
}

.wrp_person p{
    margin-left: 6px;
}

#room_tech_tag{
    font-size: 18px;
}

#room_tech_created_at{
    font-size: 14px;
}


/* =======particles======= */


#particles-js{
    width: 100%;
    height: 100%;
    /*background-color: rgba(0,0,0,0.5);*/
    /*background-image: url('');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
}

.view {
position: relative;
top: 0;
left: 0;
right: 0;
bottom: 0;
-webkit-perspective: 400;
        perspective: 400;
}

.plane {
width: 120px;
height: 120px;
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}
.plane.main {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
-webkit-transform: rotateX(60deg) rotateZ(-30deg);
        transform: rotateX(60deg) rotateZ(-30deg);
-webkit-animation: rotate 20s infinite linear;
        animation: rotate 20s infinite linear;
}
.plane.main .circle {
width: 120px;
height: 120px;
position: absolute;
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
border-radius: 100%;
box-sizing: border-box;
box-shadow: 0 0 60px #fff, inset 0 0 60px crimson;
}
.plane.main .circle::before, .plane.main .circle::after {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 10%;
height: 10%;
border-radius: 100%;
background: crimson;
box-sizing: border-box;
box-shadow: 0 0 60px 2px crimson;
}
.plane.main .circle::before {
-webkit-transform: translateZ(-90px);
        transform: translateZ(-90px);
}
.plane.main .circle::after {
-webkit-transform: translateZ(90px);
        transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
-webkit-transform: rotateZ(72deg) rotateX(63.435deg);
        transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
-webkit-transform: rotateZ(144deg) rotateX(63.435deg);
        transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
-webkit-transform: rotateZ(216deg) rotateX(63.435deg);
        transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
-webkit-transform: rotateZ(288deg) rotateX(63.435deg);
        transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
-webkit-transform: rotateZ(360deg) rotateX(63.435deg);
        transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
}
100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}
}

@keyframes rotate {
0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
}
100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}
}