<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/dashboard.css') }}">
    <title>Dashboard: Tollkit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="../static//IMG/logo-png-tollkit.png" alt="tollkit logo"></a>
            
        </div>
        <div class="navbar">
            <ul>
                <li>
                    <a href="/dudas" class="navbar_acceso">
                        <i class="fa fa-question-circle icon_dudas" aria-hidden="true"></i>
                        Dudas
                    </a>
                </li>
                <li>
                    <a href="" >
                        <i class="fa fa-user icon_profile" aria-hidden="true"></i>
                        Richard
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="data_table">
            <table id="tollkit_data">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Grupo</th>
                        <th>Nombre y Apellido</th>
                        <th>Vacuna</th>
                        <th>Mascarilla</th>
                        <th>Temperatura</th>
                        <th>Desinfectante</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>20181158E</td>
                        <td>Estudiante</td>
                        <td>Jhomar Astuyauri</td>
                        <td>SÍ</td>
                        <td>SÍ</td>
                        <td>36.03</td>
                        <td>sí</td>
                        <td>13/09/2022</td>
                    </tr>
                    <tr>
                        <td>20191008k</td>
                        <td>Estudiante</td>
                        <td>Mark Sito</td>
                        <td>SÍ</td>
                        <td>NO</td>
                        <td>37.03</td>
                        <td>SÍ</td>
                        <td>12/09/2022</td>
                    </tr>
                    <tr>
                        <td>20191008k</td>
                        <td>Estudiante</td>
                        <td>Mark Sito</td>
                        <td>SÍ</td>
                        <td>NO</td>
                        <td>37.03</td>
                        <td>SÍ</td>
                        <td>12/09/2022</td>
                    </tr>
                    <tr>
                        <td>20191008k</td>
                        <td>Estudiante</td>
                        <td>Mark Sito</td>
                        <td>SÍ</td>
                        <td>NO</td>
                        <td>37.03</td>
                        <td>SÍ</td>
                        <td>12/09/2022</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>