<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Home: Tollkit</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static//IMG/logo-png-tollkit.png" alt="">
        </div>
        <div class="navbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Q&A</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contáctanos</a></li>
                <li id="navbar_acceso"><a href="/login-view">Acceso Usuarios</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="view" id="particles-js">
            <div class="plane main">
                
            </div>
        </div>
        
    </main>

    <footer>

    </footer>
    <script src="{{ url_for('static', filename='JS/particles.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/app.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/stats.js') }}"></script>
</body>
</html>