<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hurricane&family=Inspiration&family=Quicksand:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="first_header">
                <div class="logo">
                    <a href="/">
                        <img src="{{ url_for('static', filename='IMG/logo-png-tollkit.png')}}" alt="Logo Tollkit">
                    </a>
                </div>
                <div class="accesos">
                    <a href="/login-view" class="signin">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <p>Login</p>
                    </a>
                    <a href="/register-view" class="register">Register</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="view" id="particles-js">
            <div class="plane main">
                
            </div>
        </div>
        <form action="/login" method="POST" class="card_login">
            <p class="card_login_title">Login</p>
            <div class="form-group">
                <p>
                    <label for="email">Email</label>
                </p>
                
                <input type="email" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <p>
                    <label for="password">Contraseña</label>
                </p>
                
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <input type="submit" class="btn-primary" value="Login">
        </form>
    </main>
    <script src="{{ url_for('static', filename='JS/particles.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/app.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/stats.js') }}"></script>

</body>
</html>