<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/dashboard.css') }}">
    <title>Dashboard: Tollkit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="../static//IMG/logo-png-tollkit.png" alt="tollkit logo"></a>
            
        </div>
        <div class="navbar">
            <ul>
                <li>
                    <a href="/dudas" class="navbar_acceso">
                        <i class="fa fa-question-circle icon_dudas" aria-hidden="true"></i>
                        Dudas
                    </a>
                </li>
                <li>
                    <a href="" >
                        <i class="fa fa-user icon_profile" aria-hidden="true"></i>
                        Richard
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="data_table">
            <table id="tollkit_data">
                <thead>
                    <tr>
                        <th>Grupo</th>
                        <th>Nombre y Apellido</th>
                        <th>Vacuna</th>
                        <th>Mascarilla</th>
                        <th>Temperatura</th>
                        <th>Desinfectante</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in lista_dicc %}
                    <tr>
                        
                        <td>{{i.has_studentCard}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.has_covidCard}}</td>
                        <td>{{i.has_mask}}</td>
                        <td>{{i.temp}}</td>
                        <td>{{i.has_alcohol}}</td>
                        <td>{{i.date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>